<%= form_with(model: article, local: true) do |form| %>
	<td>
		<%= form.hidden_field :collection_id %>
		<%= form.hidden_field :number %>
		<%= form.text_area :title, style: "box-sizing: border-box; width:100%" %>
	</td>
	<td><%= form.submit "Set", class: "button fill-a-cell" %></td>
<% end %>
